<!DOCTYPE html>
<html>
<head>
    <title>Driver Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body{
            background-color: rgb(147, 165, 179);
        }
    </style>
</head>
<body>
    <h1>Driver Information</h1>

    <table>
        <thead>
            <tr>
                <th>Driver ID</th>
                <th>Name</th>
                <th>License Number</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Mr. Prosper Okezie</td>
                <td>1002342610</td>
                <td>07054738723</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Mr. Chukwudi Nkari</td>
                <td>1002342987</td>
                <td>09054738729</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Mr. Godwin Sunday</td>
                <td>1002342342</td>
                <td>07054838726</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>Mr. Donatus Saanu</td>
                <td>1002342712</td>
                <td>07164738723</td>
            </tr>
            <tr>
                <td>1005</td>
                <td>Mr. Adewale John</td>
                <td>1002342511</td>
                <td>08054738713</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
