<!DOCTYPE html>
<html>
    <head>
        <title>RealTime Locations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
            body{
                background-color: rgb(147, 165, 179);
            }
        </style>
    </head>
<body>
    <h1>Realtime Location</h1>

    <table>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Date</th>
            <th>Time</th>
            <th>Speed</th>
        </tr>

        <tr>
            <td>6.5269033</td>
            <td>3.5774005</td>
            <td>Aug 23, 2023</td>
            <td>10:50:25</td>
            <td>30km</td>
        </tr>
        <tr>
            <td>6.5269033</td>
            <td>3.5774005</td>
            <td>Aug 23, 2023</td>
            <td>10:50:25</td>
            <td>30km</td>
        </tr>
        <tr>
            <td>6.5269033</td>
            <td>3.5774005</td>
            <td>Aug 23, 2023</td>
            <td>10:50:25</td>
            <td>30km</td>
        </tr>
        <tr>
            <td>6.5269033</td>
            <td>3.5774005</td>
            <td>Aug 23, 2023</td>
            <td>10:50:25</td>
            <td>30km</td>
        </tr>
        <tr>
            <td>6.5269033</td>
            <td>3.5774005</td>
            <td>Aug 23, 2023</td>
            <td>10:50:25</td>
            <td>30km</td>
        </tr>

    </table>
</body>
</html>
