<!DOCTYPE html>
<html>
<head>
    <title>Passenger's Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body{
            background-color: rgb(147, 165, 179);
        }
    </style>
</head>
<body>
    <h1>Passenger's Information</h1>

    <table>
        <thead>
            <tr>
                <th>Passenger ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Miss Mercy Ekanem</td>
                <td>mercy@gmail.com</td>
                <td>09123456789</td>
                <td>Beach Rd. Otuoke, Bayelsa State</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Mr. Julius</td>
                <td>julius@gmail.com</td>
                <td>08023456789</td>
                <td>No. 4 Esosi Lodge, Otuoke, Bayelsa State</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Dev. Anyiglobal</td>
                <td>anyiglobal@gmail.com</td>
                <td>09134567890</td>
                <td>Lagos State, Nigeria</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>Favour Isidienu</td>
                <td>favor@gmail.com</td>
                <td>07123456789</td>
                <td>Amamics Lodge, Otuoke</td>
            </tr>
            <tr>
                <td>1005</td>
                <td>Godstime Praise</td>
                <td>godstime@gmail.com</td>
                <td>09124567809</td>
                <td>Osasuma lodge, Otuoke</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
