<!DOCTYPE html>
<html>
<head>
    <title>Route Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body{
            background-color: rgb(147, 238, 147);
        }
    </style>
</head>
<body>
    <h1>Route Information</h1>

    <table>
        <thead>
            <tr>
                <th>Route ID</th>
                <th>Start Location</th>
                <th>End Location</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>point A</td>
                <td>point B</td>
                <td>80km</td>
            </tr>
            <tr>
                <td>2</td>
                <td>point A</td>
                <td>point B</td>
                <td>80km</td>
            </tr>
            <tr>
                <td>3</td>
                <td>point A</td>
                <td>point B</td>
                <td>80km</td>
            </tr>
            <tr>
                <td>4</td>
                <td>point A</td>
                <td>point B</td>
                <td>80km</td>
            </tr>
            <tr>
                <td>5</td>
                <td>point A</td>
                <td>point B</td>
                <td>80km</td>
            </tr>

        </tbody>
    </table>
</body>
</html>
