<!DOCTYPE html>
<html>
<head>
    <title>Driver Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body{
            background-color: rgb(147, 238, 147);
        }
    </style>
</head>
<body>
    <h1>Driver Information</h1>

    <table>
        <thead>
            <tr>
                <th>Driver ID</th>
                <th>Name</th>
                <th>License Number</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Mr. Prosper Okezie</td>
                <td>1002342610</td>
                <td>07054738723</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
